.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.mb-1 { margin-bottom: .4rem !important; }
.mb-5 { margin-bottom: 1.5rem; }
.font-medium { font-weight: 500; }
.font-bold { font-weight: bold; }
.float-right { float: right }
.clear-both {clear: both}
.text-center { text-align: center; }
