* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    color: $body-color;
    font-family: $font-family;
    background-color: $body-bg;
}
a {
    text-decoration: none;
    color: $link-color;
    transition: all .2s;
    outline: none;
    &:hover {
        color: $link-color-hover;
    }
}
h1,h2,h3,h4,h5,h6 {
    color: $heading-color;
    position: relative;
}
.anchor {
    position: absolute;
    left: -30px;
    top: -5px;
    fill: #777;
    &:hover {
        fill: #444;
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.3rem;
}
h5 {
    font-size: $font-size-base;
}
.row {
    margin: 0 -1rem;
    display:flex;
    flex-wrap: wrap;
}
.row + .row {
    margin-top: 1rem;
}
[class*='col-'] {
    padding: 0 1rem;
}
.container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}
blockquote, figcaption, ol, p, pre, table, ul {
    font-size: 1rem;
    margin-top: 0;
    line-height: 1.77778rem;
    margin-bottom: 1.77778rem;
}
.col-1 { flex: none; width: calc(100% * 1 / 12) }
.col-2 { flex: none; width: calc(100% * 2 / 12) }
.col-3 { flex: none; width: calc(100% * 3 / 12) }
.col-4 { flex: none; width: calc(100% * 4 / 12) }
.col-5 { flex: none; width: calc(100% * 5 / 12) }
.col-6 { flex: none; width: calc(100% * 6 / 12) }
.col-7 { flex: none; width: calc(100% * 7 / 12) }
.col-8 { flex: none; width: calc(100% * 8 / 12) }
.col-9 { flex: none; width: calc(100% * 9 / 12) }
.col-10 { flex: none; width: calc(100% * 10 / 12) }
.col-11 { flex: none; width: calc(100% * 11 / 12) }
.col-12 { flex: none; width: calc(100% * 12 / 12) }


@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .col-md-1 { flex: none; width: calc(100% * 1 / 12) }
    .col-md-2 { flex: none; width: calc(100% * 2 / 12) }
    .col-md-3 { flex: none; width: calc(100% * 3 / 12) }
    .col-md-4 { flex: none; width: calc(100% * 4 / 12) }
    .col-md-5 { flex: none; width: calc(100% * 5 / 12) }
    .col-md-6 { flex: none; width: calc(100% * 6 / 12) }
    .col-md-7 { flex: none; width: calc(100% * 7 / 12) }
    .col-md-8 { flex: none; width: calc(100% * 8 / 12) }
    .col-md-9 { flex: none; width: calc(100% * 9 / 12) }
    .col-md-10 { flex: none; width: calc(100% * 10 / 12) }
    .col-md-11 { flex: none; width: calc(100% * 11 / 12) }
    .col-md-12 { flex: none; width: calc(100% * 12 / 12) }
}
@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .col-lg-1 { flex: none; width: calc(100% * 1 / 12) }
    .col-lg-2 { flex: none; width: calc(100% * 2 / 12) }
    .col-lg-3 { flex: none; width: calc(100% * 3 / 12) }
    .col-lg-4 { flex: none; width: calc(100% * 4 / 12) }
    .col-lg-5 { flex: none; width: calc(100% * 5 / 12) }
    .col-lg-6 { flex: none; width: calc(100% * 6 / 12) }
    .col-lg-7 { flex: none; width: calc(100% * 7 / 12) }
    .col-lg-8 { flex: none; width: calc(100% * 8 / 12) }
    .col-lg-9 { flex: none; width: calc(100% * 9 / 12) }
    .col-lg-10 { flex: none; width: calc(100% * 10 / 12) }
    .col-lg-11 { flex: none; width: calc(100% * 11 / 12) }
    .col-lg-12 { flex: none; width: calc(100% * 12 / 12) }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .col-xl-1 { flex: none; width: calc(100% * 1 / 12) }
    .col-xl-2 { flex: none; width: calc(100% * 2 / 12) }
    .col-xl-3 { flex: none; width: calc(100% * 3 / 12) }
    .col-xl-4 { flex: none; width: calc(100% * 4 / 12) }
    .col-xl-5 { flex: none; width: calc(100% * 5 / 12) }
    .col-xl-6 { flex: none; width: calc(100% * 6 / 12) }
    .col-xl-7 { flex: none; width: calc(100% * 7 / 12) }
    .col-xl-8 { flex: none; width: calc(100% * 8 / 12) }
    .col-xl-9 { flex: none; width: calc(100% * 9 / 12) }
    .col-xl-10 { flex: none; width: calc(100% * 10 / 12) }
    .col-xl-11 { flex: none; width: calc(100% * 11 / 12) }
    .col-xl-12 { flex: none; width: calc(100% * 12 / 12) }
}
@media screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}