table {
    border-collapse: collapse;
    color: $article-content-color;
    thead {
        text-align: left;
        border-bottom: 1px solid rgb(78, 78, 78);
    }
    td,th {
        padding: 1rem;
        border-bottom: 1px solid #dedede;
    }
    th {
        border-bottom: 3px solid #dedede;
    }
}