<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        <div id="app" class='section-page'>
            {{- partial "header.html" . -}}
            <main id="content">
                <main id="terms">
                    <div class="container">
                        <h1 class='section-title'>{{ .Section | humanize }}</h1>
                        <div class="row ">
                            <div class="col-lg-9 col-12">
                                {{ range (.Paginate ( .Pages.ByDate.Reverse )).Pages }}
                                    {{ partial "card/card-horizontal.html" . }}
                                {{  end }}
                                {{ partial "paginator" . }}
                            </div>
                        </div>
                    </div>
                </main>
            </main>
            {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
