<nav class='navbar' role="navigation">
    <div class="container">
        <div class="navbar-main">
            <div class="logo">
                {{ partialCached "logo.html" . }}
            </div>
            <div class="toggler">
                <button class="btn btn-toggler" aria-label="toggle" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                </button>
            </div>
        </div>
        <div class="menu">
            <ul role="navigation">
                {{ $currentPage := . }}
                {{- range .Site.Menus.main }}
                    <li><a href="{{ .URL }}" class='{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}'>{{ .Name }}</a></li>
                {{- end }}
            </ul>
        </div>
    </div>
</nav>