$body-bg:                   #fff;
$body-color:                rgb(29, 25, 41);
$article-content-color:     rgb(70, 70, 70);
$heading-color:             #313237;
$link-color:                $primary;
$link-color-hover:          darken($primary, 20%);